import { initializeApp } from "firebase/app";
import { getAuth } from "firebase/auth";
import { getFirestore } from "firebase/firestore";

const firebaseConfig = {
  apiKey: "AIzaSyCi9hZgoB5DCoOXNJLJT7TuWy_2iN7Pg",
  authDomain: "college-lms-10caa.firebaseapp.com",
  projectId: "college-lms-10caa",
  storageBucket: "college-lms-10caa.firebasestorage.app",
  messagingSenderId: "1081010239834",
  appId: "1:1081010239834:web:1e352cb02a449437a41b63"
};

const app = initializeApp(firebaseConfig);

export const auth = getAuth(app);
export const db = getFirestore(app);
